*{
    font-family: "Great Vibes", cursive;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: "Alex Brush", cursive;
    color: var(--coffee);
}
:root {
--vintageRosa: rgb(198, 132, 109);
--lightRose: rgb(255,238,229);
--coffee: rgb(114,79,66);
}
h1 {
    color: var(--lightRose);
    font-size: 25rem;
}
.txt-coffee {
    color: var(--coffee);
}
.txt-lightRose {
    color: var(--lightRose);
}
.txt-vintageRosa {
    color: var(--vintageRosa);
}

.bg-coffee {
    background-color: var(--coffee);
}
.bg-lightRose {
    background-color: var(--lightRose);
}
.bg-vintageRosa {
    background-color: var(--vintageRosa);
}

nav {
    font-weight: 400;
    font-size: 28px;
}

.nav-custom {
    height: 80px;
    background-color: var(--lightRose);
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.img-logo{
    height: 60px;
    width: auto;
}
.nav-link {
    color: var(--vintageRosa);
}
.nav-link:hover {
color: var(--coffee);
}

i {
    font-size: 25px;
}
.nav-titel{
    font-size: 35px;
    color: var(--vintageRosa);
    margin-left: 30px;
    margin-top: 10px;
    text-decoration: none;
    
}
.nav-titel:hover {
color: var(--coffee);
}

.slide1 {
    height: 100vh;
    width: 100%;
    background: url("./media/header11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide2 {
    height: 100vh;
    width: 100%;
    background: url("./media/header22.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide3 {
    height: 100vh;
    width: 100%;
    background: url("./media/header33.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 35px;
    color: var(--coffee);
}
@media screen and (max-width: 600px) {
    .nav-titel {
        display: none;
    }
}