*{
    font-family: "Great Vibes", cursive;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: "Alex Brush", cursive;
    color: var(--coffee);
}
:root {
--vintageRosa: rgb(198, 132, 109);
--lightRose: rgb(255,238,229);
--coffee: rgb(114,79,66);
}
h1 {
    color: var(--lightRose);
    font-size: 25rem;
}
.txt-coffee {
    color: var(--coffee);
}
.txt-lightRose {
    color: var(--lightRose);
}
.txt-vintageRosa {
    color: var(--vintageRosa);
}

.bg-coffee {
    background-color: var(--coffee);
}
.bg-lightRose {
    background-color: var(--lightRose);
}
.bg-vintageRosa {
    background-color: var(--vintageRosa);
}

nav {
    font-weight: 400;
    font-size: 28px;
}

.nav-custom {
    height: 80px;
    background-color: var(--lightRose);
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.img-logo{
    height: 60px;
    width: auto;
}
.nav-link {
    color: var(--vintageRosa);
}
.nav-link:hover {
color: var(--coffee);
}

i {
    font-size: 25px;
}
.nav-titel{
    font-size: 35px;
    color: var(--vintageRosa);
    margin-left: 30px;
    margin-top: 10px;
    text-decoration: none;
    
}
.nav-titel:hover {
color: var(--coffee);
}

.slide1 {
    height: 100vh;
    width: 100%;
    background: url("./media/header11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide2 {
    height: 100vh;
    width: 100%;
    background: url("./media/header22.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide3 {
    height: 100vh;
    width: 100%;
    background: url("./media/header33.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 35px;
    color: var(--coffee);
}
@media screen and (max-width: 600px) {
    .nav-titel {
        display: none;
    }
}

/* BURGER MENU */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--lightRose);
    padding: 5rem 2rem;
    transition: right 0.4s ease;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.15);
    z-index: 1050;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
    z-index: 1100;
  }

  .navbar-toggler i {
    font-size: 1.8rem;
    transition: opacity 0.3s ease;
  }
}


/* ---------- SECTION 1: FOR HER ---------- */
.section1 {
  background: linear-gradient(rgba(114, 79, 66, 0.3), rgba(114, 79, 66, 0.3)),
              url("./media/for-her1.jpg") center center / cover no-repeat;
  position: relative;
  color: var(--lightRose);
}


.section1-content {
    /* height: 100vh; */
  position: relative;
  z-index: 2;
}

.btn-outline-light {
  border: 2px solid var(--lightRose);
  color: var(--lightRose);
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  background-color: var(--lightRose);
  color: var(--coffee);
  border-color: var(--lightRose);
}


@media (max-width: 768px) {
  .section1 {
    text-align: center;
    background-position: top;
  }

  .section1-content {
    margin: 0 auto;
  }

  .btn-outline-light {
    font-size: 1rem;
    padding: 8px 20px;
  }
}
/* ---------- SECTION 2: FOR HIM ---------- */
.section2 {
  background: linear-gradient(rgba(114, 79, 66, 0.3), rgba(114, 79, 66, 0.3)),
              url("./media/for-him1.jpg") center center / cover no-repeat;
  position: relative;
  color: var(--lightRose);
}

.section2-content {
  position: relative;
  z-index: 2;
}

.section2 .btn-outline-light {
  border: 2px solid var(--lightRose);
  color: var(--lightRose);
  transition: all 0.3s ease;
}

.section2 .btn-outline-light:hover {
  background-color: var(--lightRose);
  color: var(--coffee);
  border-color: var(--lightRose);
}


@media (max-width: 768px) {
  .section2 {
    text-align: center;
    background-position: top;
  }

  .section2-content {
    margin: 0 auto;
  }

  .section2 .btn-outline-light {
    font-size: 1rem;
    padding: 8px 20px;
  }
}
/* GALLERY  */
.imgProduct {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .imgProduct {
    height: 400px;
  }
}



/* CSS NON PERSONALE, BOOTSTRAP */
.videoSection {
  position: relative;
  /* background-color: black; */
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.videoSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videoSection .container {
  position: relative;
  z-index: 2;
}

.videoSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--vintageRosa);
  opacity: 0.3;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  .videoSection {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  .videoSection video {
    display: none;
  }
}
/* FINE CSS BOOTSTRAP */

/* ---------- SECTION FORM ---------- */
.section-form {
  background: linear-gradient(rgba(198, 132, 109, 0.2), rgba(198, 132, 109, 0.2)),
              url("./media/form.jpg") center center / cover no-repeat;
  position: relative;
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-form h2, 
.section-form p {
  color: var(--coffee);
}

.section-form form {
  background-color: rgba(255, 238, 229, 0.5);
  border: 1px solid var(--vintageRosa);
  font-size: 1.5rem;
}

.btn-coffee {
   background-color: var(--coffee);
  color: var(--lightRose);
  border: 2px solid var(--coffee);
  transition: all 0.3s ease;
  padding: 8px 32px; 
  width: auto; 
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 50px; 
}

.btn-coffee:hover {
  background-color: var(--vintageRosa);
  color: var(--lightRose);
  border-color: var(--vintageRosa);
}
.section-form input::placeholder,
.section-form textarea::placeholder {
  font-size: 1.5rem; 
}



@media (max-width: 768px) {
  .section-form {
    text-align: center;
    /* padding: 60px 0; */
    padding: 100px 0;
    min-height: 100vh;
  }

  .section-form h2 {
    font-size: 2rem;
  }

  .section-form form {
    width: 100%;
    margin: 0 auto;
  }
  .btn-coffee {
    width: 100%; 
    border-radius: 12px;
  }
  .formLeft {
    padding-top: 80px;
  }
}


/* ---------- FOOTER ---------- */
.footer {
  background-color: var(--lightRose);
  color: var(--vintageRosa);
  font-size: 1.3rem;
  line-height: 1.6;
}

.footer h4, .footer h5 {
  color: var(--vintageRosa);
  font-family: "Alex Brush", cursive;
}
/* .footer h4 {
    font-size: 1.5rem;
} */

.footer i {
  color: var(--vintageRosa);
}


.footer input.form-control {
  border: 1px solid var(--vintageRosa);
  background-color: rgba(255, 238, 229, 0.8);
  color: var(--coffee);
}

.footer input::placeholder {
  color: rgba(114,79,66,0.6);
}

.footer .btn-coffee {
  background-color: var(--coffee);
  color: var(--lightRose);
  border: none;
  border-radius: 30px;
  padding: 6px 20px;
  transition: 0.3s ease;
}

.footer .btn-coffee:hover {
  background-color: var(--vintageRosa);
  color: var(--lightRose);
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer form {
    flex-direction: column;
    align-items: stretch;
  }

  .footer form input {
    margin-bottom: 10px;
  }
  .titleSectionFooter {
    margin-top: 6rem;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .imgProduct {
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .videoSection {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  .section-form {
    padding: 80px 20px;
  }

  .section-form form {
    padding: 2rem;
  }
}
